#gradient-compo-1 {
    animation: gradient-compo-1 1.2s ease-out both;
    /* position: absolute;
    top: -1400px;
    right: -1000px;
    z-index: -1000;
    width: 1900px;
    height: 1900px;
    flex-shrink: 0;
    border-radius: 50px;
    background: radial-gradient(30% 30.00% at 30% 30.00%, rgba(251, 121, 127, 0.5) 0%, rgba(255, 255, 255, 0.00) 100%); */
}

@keyframes gradient-compo-1 {
    0% {
        top: -700px;
        right: -500px;
        
    }

    100% {
        top: -1400px;
        right: -1000px;
       
    }
}

#gradient-compo-4 {
    animation: gradient-compo-4 1.2s ease-out both;
}

@keyframes gradient-compo-4 {
    0% {
        top: -1200px;
        left: 500px;
    }

    100% {
        top: -600px;
        left: -550px;
    }
}

/* scroll down icon */
#scroll-down-icon {
    animation: scroll-down-icon 1.2s ease-in infinite forwards;
}

@keyframes scroll-down-icon {
    0% {
        transform: translate(0px, 7px);
    }

    0.25% {
        transform: translate(0px, -7px);
    }

    0.5% {
        transform: translate(0px, 7px);
    }

    0.75% {
        transform: translate(0px, -7px);
    }

    100% {
        transform: translate(0px, 7px);
    }
}